html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@import "tailwindcss";

:root {
  --primary: #ffb504;
  --background: #ffb504;
  --rbackground: #0a0a0a;
  --foreground: #171717;
  --dark: #0a0a0a;
  --mono: #171717;
  --rmono: #ffffff;
  --text-color: #252525;
  --text-color-inverse: #c7c7c7;
  --light-grey: #9ba0a7;
  --grey: #2e2e2e;
  --darkgrey: #252525;
  --greyRing: #424242;
  --lFormbg: #171717;
  --offWhite: #c7c7c7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-theme="light"] {
  --background: #ffb504;
  --rbackground: #0a0a0a;
  --foreground: #171717;
  --mono: #171717;
  --rmono: #ffffff;
  --text-color: #171717;
  --text-color-inverse: #ffffff;
  --light-grey: #9ba0a7;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --rbackground: #ffb504;
  --foreground: #ffb504;
  --mono: #ffffff;
  --rmono: #171717;
  --text-color: #c7c7c7;
  --text-color-inverse: #252525;
  --light-grey: #9ba0a7;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  transition: filter 0.2s ease-in-out;
}

button:hover {
  filter: brightness(1.1); /* Increases brightness by 20% */
  scale: 1.05; /* Slightly increases size */
  cursor: pointer;
}

.no-button-effects {
  transition: none !important;
}

.no-button-effects:hover {
  filter: none !important;
  scale: 1 !important;
  cursor: pointer;
}

.no-button-effects::before {
  display: none !important;
}

*,
*::before,
*::after {
  transition: background-color 0.3s ease;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg); /* 720 degrees = 2 full rotations */
  }
}

.spin-animation {
  animation: spin 0.7s ease-in-out;
}
